---
---
<div id="CartWrapper"></div>

<script src="/elm-component/MiniCart.js" defer></script>

<script type="module">
    let node = document.getElementById("CartWrapper");

    Elm.Elm.MiniCart.init({node})
</script>