---

---
<div id="showcase"></div>

<script src="/elm/showcase.js" defer></script>
<script type="module">
    const app = Elm.Components.Showcase.Main.init({
        node: document.getElementById('showcase')
    })
</script>

<!-- <script type="module" src="/showcase-component.js"></script> -->